---
//microCMS呼び出し
import { getBlogs } from "../library/microcms";

const response = await getBlogs({ fields: ["id", "title", "category", "eyecatch", "description", "codeArea"]});

---

<ul class="post-list">
	{
		response.contents.map((content: any) => (
		<li>
            <a href={content.id}>
				<div class="post-list__img">
					<img
						width={content.eyecatch.width}
						height={content.eyecatch.height}
						src={content.eyecatch.url}
						alt={`img_${content.title}/`}
					/>
				</div>
				<div>
					<ul class="tags-list">
						{content.category.map((category: any) => (
							<li>{category.name}</li>
						))}
					</ul>
					<h3>{content.title}</h3>
					<p class="description">{content.description}</p>
				</div>
			</a>
		</li>
		))
	}
</ul>
<style>
	.post-list {
		margin-top: 40px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;

		@container (max-width: 750px) {
			grid-template-columns: 1fr;
			margin-inline: auto;
		}

		& > li {
			aspect-ratio: 3 / 4;
			border-radius: 30px;
			background-color: #fff;
			overflow: hidden;
			color: #000;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			transition: opacity 0.3s;
			&:hover {
				opacity: 0.8;
			}
		}

		.post-list__img {
			height: 50%;
			padding-inline: 10%;
			text-align: center;
		}

		img {
			max-width: 100%;
			height: 100%;
			object-fit: contain;
		}

		div {
			padding: 1rem;
		}

		h3 {
			margin-top: 20px;
			font-size: 20px;
			font-weight: bold;
		}

		p {
			margin-top: 5px;
			font-size: 16px;
		}
	}

	.tags-list {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;

		li {
			display: inline-block;
			padding: 0.2em 1.2em;
			background-color: #333;
			color: #fff;
			font-size: 14px;
			border-radius: 50em;
		}
	}

	.description {
		white-space: pre-wrap;
	}
</style>
